<!DOCTYPE html>
<html>
<head>
	<title>Yellow Pages</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/organizationTab.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/scripts/util.js"></script>
</head>
<body>
    <div class="container">
        <h1>Yellow Pages</h1>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#organizations" role="tab" data-toggle="tab">Organizations</a></li>
                <li><a href="#serviceSearch" role="tab" data-toggle="tab">Service Search</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" data-bind="with: organizationTab" id="organizations">
                    <div class="container">
                        <h3>Organizations</h3>
                        <div class="pull-right">
                            <button class="btn btn-default" data-bind="click: displayAddOrgModal"><span class="glyphicion glyphicon-plus"></span></button>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID (remove this for final)</th>
                                    <th>Name</th>
                                    <th>Description</th>
									<th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: { data: orgList, as: 'org' }">
                                <tr>
                                    <td data-toggle="collapse" data-bind="text: org.id, attr: { 'data-target': '#serviceList' + $index()}"></td>
                                    <td data-toggle="collapse" data-bind="text: org.name, attr: { 'data-target': '#serviceList' + $index()}"></td>
                                    <td data-toggle="collapse" data-bind="text: org.description, attr: { 'data-target': '#serviceList' + $index()}"></td>
									<td>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a href="#" data-bind="click: $parent.displayEditOrgModal">Edit Organization</a></li>
												<li><a href="#" data-bind="click: $parent.displayAddServiceModal">Add Service</a></li>
												<li class="divider"></li>
												<li><a href="#" data-bind="click: $parent.displayRemoveOrgModal">Remove Organization</a></li>
											</ul>
										</div>
									</td>
                                </tr>
                                <tr class="collapse" data-bind="attr: { id: 'serviceList' + $index()}">
                                    <td colspan="4">
                                        <table class="table" data-bind="foreach: { data: org.serviceList, as: 'service' }">
                                            <tr>
                                                <td data-bind="text: service.name"></td>
                                                <td data-bind="text: service.description"></td>
                                                <td><button class="btn btn-default" type="button" data-bind="click: $parent.displayEditServiceModal"><span class="glyphicion glyphicon-edit"></span></button></td>
                                                <td><button class="btn btn-default" type="button" data-bind="click: $parent.displayRemoveServiceModal"><span class="glyphicion glyphicon-trash"></span></button></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="btn btn-default" data-bind="click: displayAddOrgModal"><span class="glyphicion glyphicon-plus"></span></button>
                        </div>
                    </div>
                    <div id="addOrgModal" class="modal fade" data-bind="with: addOrgModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeAddOrgModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Add Organization</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" data-bind="value: name" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" data-bind="value: description" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { addOrg(name(), description()); }">Add</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeAddOrgModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<div id="editOrgModal" class="modal fade" data-bind="with: editOrgModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeEditOrgModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Edit Organization</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" data-bind="value: name" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" data-bind="value: description" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { editOrg(id(), name(), description()); }">Edit</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeEditOrgModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<div id="removeOrgModal" class="modal fade" data-bind="with: removeOrgModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeRemoveOrgModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Remove Organization</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <span>Are you sure you wish to delete </span><span data-bind="text: name"></span><span>?</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { removeOrg(id()); }">Remove</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeRemoveOrgModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
					<div id="addServiceModal" class="modal fade" data-bind="with: addServiceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeAddServiceModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Add Service</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label>Organization ID (remove for final)</label>
												<span data-bind="text: orgId"></span>
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" data-bind="value: name" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" data-bind="value: description" />
                                            </div>
                                        </div>
										<div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Tags</label>
												<div data-bind="foreach: { data: tags, as: 'tag' }">
													<input type="text" class="form-control" data-bind="value: description" />
													<button type="button" class="close" data-bind=""><span>&times;</span></button>
												</div>
												<div>
													<button class="btn btn-default" data-bind=""><span class="glyphicion glyphicon-plus"></span></button>
												</div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Inputs</label>
												<div data-bind="foreach: { data: inputs, as: 'input' }">
													
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { addService(orgId(), name(), description(), tags(), inputs()); }">Edit</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeAddServiceModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="editServiceModal" class="modal fade" data-bind="with: editServiceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeEditServiceModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Edit Service</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label>Organization ID (remove for final)</label>
                                                <span data-bind="text: orgId"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" data-bind="value: name" />
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" data-bind="value: description" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Tags</label>
                                                <div data-bind="foreach: { data: tags, as: 'tag' }">
                                                    <input type="text" class="form-control" data-bind="value: description" />
                                                    <button type="button" class="close" data-bind=""><span>&times;</span></button>
                                                </div>
                                                <div>
                                                    <button class="btn btn-default" data-bind=""><span class="glyphicion glyphicon-plus"></span></button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Inputs</label>
                                                <div data-bind="foreach: { data: inputs, as: 'input' }">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { editService(id(), orgId(), name(), description(), tags(), inputs()); }">Edit</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeEditServiceModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="removeServiceModal" class="modal fade" data-bind="with: removeServiceModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-bind="click: closeRemoveServiceModal"><span>&times;</span></button>
                                    <h4 class="modal-title">Remove Service</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <span>Are you sure you wish to delete </span><span data-bind="text: name"></span><span>?</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bind="click: function () { removeService(id()); }">Remove</button>
                                    <button type="button" class="btn btn-default" data-bind="click: closeRemoveServiceModal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="serviceSearch">
                    <div class="container">
                        <h3>Service Search</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/scripts/index.js"></script>
